 #loading_default {
       width: 250px;
       height: 200px;
       background-color:#173A7D;
       position: absolute;
       left: 50%;
       top: 30%;
        margin-top: -50px;
       margin-left: -200px;
       text-decoration:blink;
       text-align:left;
	  
	 color:#ffffff;
	}

#ExportSettingsdiv {
       width: 250px;
       height: 200px;
       background-color:#173A7D;
       position: absolute;
       left: 50%;
       top: 30%;
     margin-top: -50px;
     margin-left: -200px;
       text-decoration:blink;
       text-align:left;
	 color:#ffffff;
	 
	}

#loading{
       width: 250px;
       height: 200px;
       background-color:#173A7D;
       position: absolute;
       left: 50%;
       top: 30%;
       margin-top: -50px;
       margin-left: -200px;
       text-decoration:blink;
       text-align:left;
	   color:#ffffff;
	 
	}
#rebooting{
       width: 250px;
       height: 200px;
       background-color:#173A7D;
       position: absolute;
       left: 50%;
       top: 30%;
       margin-top: 0px;
       margin-left: -200px;
       text-decoration:blink;
       text-align:left;
	   color:#ffffff;
}

#wireless_adv{
       width: 250px;
       height: 200px;
       background-color:#173A7D;
       position: absolute;
       left:50%;
       top:30%;
       margin-top: 0px;
       margin-left: -200px;
       text-decoration:blink;
       text-align:left;
	   color:#ffffff;
}
a.intr:linked{
color:#FF6600
}
a.intr:visited{}
a.intr:hover{
color:#FF6600
}
a.intr:active{

}

a.wizard{
font-size:10pt; 
color: #ffffff;
text-decoration: none;

}
a.wizard:visited{
font-size:10pt; 
color: #ffffff;
	text-decoration: none;}
a.wizard:hover{
color:#FF9933;
	font-size:10pt; 
	font-weight:800;
	text-decoration: underline;
}
a.wizard:active{
font-size:10pt; 
background-color:#003366;
color: #ffffff;
}

td.image_col {
	vertical-align: bottom;
	width: 11%;
	text-align: right;
	 
}
img.help_Image{
	height:22px;
	width:56;
	border:0;
}
.dtree {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #ffffff;
	white-space: nowrap;
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}
.dtree a {
	color: #ffffff;
	text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	font-size:10pt; 
	padding: 1px 2px 1px 2px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
	color:#FF9933;
	font-size:10pt; 
	font-weight:800;
	text-decoration: underline;
}
.dtree a.nodeSel {
font-size:10pt; 
	background-color:#003366;
}
.dtree .clip {
	overflow: hidden;
}
.tree{
  background-color: #2C5EA4;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff
  }
  .text1{font-family: Arial, Helvetica, sans-serif; font-size: 10pt;}

.test{ text-indent:4px;
border-style:solid; 
border-color:#FFffff;
background-color:#FF9933; 
border-width:1;
 font-size: 14pt; font-weight: bold;
 font-family: Arial, Helvetica, sans-serif;
 color:#003399;
 width:100%;
}

textarea {
 border-style:solid; 
 border-color:#85A3CF;
 border-width:1; 
 scrollbar-Base-Color: #ffffff;
 SCROLLBAR-TRACK-COLOR:#EEF7FF;
 SCROLLBAR-HIGHLIGHT-COLOR:#ffffff;
 SCROLLBAR-FACE-COLOR:#008080;
 SCROLLBAR-SHADOW-COLOR:#EEF7FF;
 SCROLLBAR-3DLIGHT-COLOR:#EEF7FF;
 SCROLLBAR-DARKSHADOW-COLOR:#ECF1FB;
 SCROLLBAR-ARROW-COLOR:#EEF7FF;
 }
 
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  background-color:#FFFFFF;
  margin:0px; 
  margin-top:inherit;
  scrollbar-Base-Color: #ffffff;  SCROLLBAR-TRACK-COLOR:#EEF7FF;  
  SCROLLBAR-HIGHLIGHT-COLOR:#ffffff;
  SCROLLBAR-FACE-COLOR:#ABBFDE;  
  SCROLLBAR-SHADOW-COLOR:#EEF7FF;  
  SCROLLBAR-3DLIGHT-COLOR:#EEF7FF;
  SCROLLBAR-DARKSHADOW-COLOR:#ECF1FB;  
  SCROLLBAR-ARROW-COLOR:#EEF7FF;
 }
 
body.treecss{
	background-color:#173A7D;
	margin-left: 12px;
	background:url(/images/menu_bg.gif)  repeat;
	
   }

p {
  font-size: 9pt; 
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif; color: #333333
}
.intro{ text-indent:40px;
         text-align:left;
		 color:#003366;
		 margin-bottom:0px
		 }

table.tintro{
height: 40px;
}

table.body {
margin-left:50px;
  border: 0px;
  width: 530px;
  margin-top:10px;
}
.btnl { 
 text-indent:4px;
 background-color:#000066; 
 border-width:0;
 font-size: 12pt; 
 font-weight: 700;
 font-family: Arial, Helvetica, sans-serif;
 color:#FFFFFF;
 width:100%;
 height:26px;
 margin-bottom:5;
 background:url(/images/Header_New_04.gif)
 }
 
td.title {
  margin-left: 5px;
  background-color:#173A7D;
  font-size:11pt;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
  color: #FFFFFF;
  height:26px;
  border-bottom: 0  none #D6E0EF;
  font-weight:700;
}

td.head {
	width: 40%;
	font-size: 9pt;
	font-family: Arial, Helvetica, sans-serif;
	background-color:#334499;
	white-space: nowrap;
	color:#FFFFFF;
	height:26px;
	border-right: 0  none #D6E0EF;
	border-top: 0  none #D6E0EF;
	border-bottom: 0 none #D6E0EF;
	border-left: 0 none #D6E0EF;
  
}

td.head1 {
  width: 33%;
  font-size: 9pt; 
  font-family: Arial, Helvetica, sans-serif;
  background-color:#334499;
  white-space: nowrap;
  color: #FFFFFF;
  height:26px;
   border-right: 0  none #D6E0EF;
  border-top: 0  none #D6E0EF;
}
td.head11 { 
  font-size: 9pt; 
 font-family: Arial, Helvetica, sans-serif;
  background-color:#334499;
  white-space: nowrap;
  color: #FFFFFF;
  height:26px;
   border-right: 0  none #D6E0EF;
  border-top: 0  none #D6E0EF;
}

td.head2 {
  width: 25%;
  font-size: 9pt; 
  font-family: Arial, Helvetica, sans-serif;
  background-color:#334499;
  white-space: nowrap;
  height:26px;
  color: #FFFFFF;
   border-right: 0  none #D6E0EF;
  border-top: 0  none #D6E0EF;
}

.value1	  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background-color: #E8F8FF;
	border-bottom: 0  none #D6E0EF;
	 height:26px;
	border-left: 0 none #D6E0EF;
	border-right: 0 none #D6E0EF;

}

.legendTite {
font-size:10pt;
	color: #006699;
	font-weight: bold;
	
}

td {
  font-size: 9pt; 
  font-family: Arial, Helvetica, sans-serif;
  color: #333333
}
INPUT.button {
	cursor:pointer;
	width: 110px;
}